# Better Auth Configuration (generate with: bun x @better-auth/cli@latest secret)
BETTER_AUTH_SECRET=""
SEED_TOKEN=""
SUPERADMIN_PASSWORD=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""

# Brevo
BREVO_API_KEY=""
BREVO_SENDER_EMAIL=""
BREVO_SENDER_NAME=""

# httpSMS
HTTPSMS_API_KEY=""
HTTPSMS_FROM=""

# PhilSMS
PHILSMS_API_TOKEN=""
PHILSMS_SENDER_ID=""

# Semaphore
SEMAPHORE_API_KEY=""
SEMAPHORE_SENDER_NAME=""
